<% provide(:title, "Contact Us") %>

<div class="row contact-us">
  <div class="span9">
    <div class="span4 no-left-margin">
      <div class="contact-mobile">
        <p class="lead">Get in Touch</p>
        <div class="phone-num">
          <%= image_tag('phone.jpg') %> 1-800-452-7896
        </div>
        <div class="phone-num">
          <%= image_tag('whatsapp-icon.png') %> 1-415-452-7896
        </div>
        <div class="phone-num">
          <%= image_tag('skype-small.png') %> BravoVacationRentals
        </div>
        <div class="phone-num">
          <%= image_tag('email-icon.png') %> <small>rentals@bravovacationrentals.com</small>
        </div>
        <p class="find-us">Find us on</p>
        <div class="phone-num">
          <%= image_tag('youtube.png') %> <%= image_tag('twitter.png') %>
        </div>
      </div>
    </div>
    <div class="span5 contact-us-form">
        <%= render 'messages/new' %>
    </div>
    <div class="clear"></div>
    <div class="socialmedia">
      <h3>FAQ</h3>
      <div class="social-box">
        <ul class="unstyled">
          <li>
            <p class="lead">How to book a villa?</p>
            <ol class="">
              <li>
                Complete and send the form you will find below the pictures of each
                property. You can also fill in the contact form in the site contact. Our staff
                will promptly reply to your query. If the villa you enquired is not available,
                we will recommend you to view other similar properties.
              </li>
              <li>
                We would be so pleased to give you instructions for the final step as soon as
                you confirm your interest. The client must fill in a simple booking form. In
                addition, most bookings require a deposit as guarantee.
              </li>
            </ol>
          </li>
          <li>
            <p class="lead">
              How do I know my reservation is booked?
            </p>
            <p>You will receive an email confirmation of your reservation.</p>
          </li>
          <li>
            <p class="lead">
              Do I need to pay for anything in order to make a reservation?
            </p>
            <p>
              You can make a reservation without having to make an immediate payment. After
              reserving you will have some time to pay the reservation fee. Usually full payment
              is required before arrival.
            </p>
          </li>
          <li>
            <p class="lead">
              Can I cancel my reservation?
            </p>
            <p>
              You can always cancel your reservation, but depending on how in advance you gave
              warning, you may or may not have your reservation deposit refunded.
            </p>
          </li>
          <li>
            <p class="lead">
              What do I do if I want to make a change?
            </p>
            <p>Contact us immediate to see if we are able to accommodate those changes.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span3 no-left-margin">
    <div class="owner-contact">
      <p class="lead center">Are you an Owner?</p>
      <hr />
      <%= link_to(image_tag('key.jpg')) %>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo.
      </p>
      <%= link_to "Find out more", "#", class: "btn btn-warning" %>
    </div>
    <div class="bcard-contact">
      <p class="lead center">How to become an agent?</p>
      <hr />
      <%= link_to(image_tag('card.jpg')) %>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
        laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo.
      </p>
    </div>
  </div>
</div>