<div class="row">
  <div class="rental-home-top">
    <div class="span3 no-left-margin">
      <div class="rental-home-map">
        <p class="lead">View Map</p>
      </div>
      <div class="rental-home-filter">
        <%= render "rentals/filter_form" %>
      </div>
    </div>
    <div class="span9 no-left-margin">
      <div id="home-slideshow" class="pics">
        <%= link_to image_tag("rental-home-pic.jpg"), "#" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="rental-home-row-2 row">
  <div class="span7">
    <div class="top-destinations-home">
      <p class="lead">Bravo Travel Guides</p>
      <hr>
      <%= link_to image_tag("rental-home-pic.jpg", class: "home-travel-img"), "#",
                  class: "pull-left" %>
      <div class="home-travel-text pull-right">
        <p class="lead">Latest Guide:</p>
        <h4>Lake Tahoe</h4>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
          laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae.</p>
        <input class="btn btn-warning" type="submit" value="Guide File">
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="span5 right-home-div">
    <div class="season-break">
      <p class="lead">Season Break Ideas</p>
      <hr>
      season break
      <ul class="unstyled">
        <li> > Spring rental destinations </li>
        <li> > Summer rental destinations</li>
        <li> > Fall rental destinations</li>
        <li> > Winter rental destinations </li>
      </ul>
    </div>
  </div>
  <div class="span12">
    <div class="featured-rentals">
      <p class="lead">Featured Properties</p>
      <ul class="thumbnails">
        <% unless @rentals.nil? %>
          <% @rentals.each do |rental| %>
            <li class="span3">
              <div class="thumbnail">
                <% unless rental.photos.nil? %>
                  <%= link_to image_tag(rental.photos.first.url), rental %>
                <% end %>
                <p><%= link_to rental.name, rental  %></p>
                <div class="destination-show-link">
                  <ul class="unstyled">
                    <li>Sleeps: <%= rental.sleeps %></li>
                    <li>Location: <%= link_to rental.destination.name,
                                              destination_path(rental.destination.id)  %></li>
                    <li>Bedrooms: <%= rental.bedrooms %></li>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
        <li class="span3">
          <div class="thumbnail">
            <%= link_to image_tag("rental-home-pic.jpg"), "#" %>
            <p><%= link_to "Rental Property", "#" %></p>
            <div class="destination-show-link">
              <ul class="unstyled">
                <li>Sleeps: 9</li>
                <li>Location: Destination</li>
                <li>Bedrooms: 4</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

