<div class="row">
  <div class="rental-home-top">
    <div class="span3 no-left-margin">
      <div class="rental-home-map">
        <p class="lead">View Map</p>
      </div>
      <div class="rental-home-filter">
        <%= render "rentals/filter_form" %>
      </div>
    </div>
    <div class="span9 no-left-margin">
      <div id="home-slideshow" class="pics">
        <%= link_to image_tag("rental-home-pic.jpg"), "#" %>
        <%= link_to image_tag("homepic2.jpg"), "#" %>
        <%= link_to image_tag("bvr-21.jpg"), "#" %>
        <%= link_to image_tag("bvr-24_5_6_tonemapped.jpg"), "#" %>
        <%= link_to image_tag("bvr-10-2_22_23_tonemapped.jpg"), "#" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="rental-home-row-2 row">
  <div class="span7">
    <div class="top-destinations-home">
      <p class="lead">Bravo Travel Guides</p>
      <hr>
      <%= link_to image_tag("rental-home-pic.jpg", class: "home-travel-img"), "#",
                  class: "pull-left" %>
      <% unless @guides.nil? %>
          <% @guides.each do |guide| %>
              <%# unless dest.dest_image.nil? %>
                  <%#= link_to image_tag(dest.dest_image.url,
                              class: "home-travel-img"), dest,
                              class: "pull-left" %>
              <%# end %>
              <div class="home-travel-text pull-right">
                <p class="lead">Latest Guide:</p>
                <h4><%= link_to guide.name, guide  %></h4>
                <p><%= raw truncate(strip_tags(guide.overview), :length => 250) %></p>
                <input class="btn btn-warning" type="submit" value="Guide File">
              </div>
          <% end %>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
  <div class="span5 right-home-div">
    <div class="season-break">
      <p class="lead">Season Break Ideas</p>
      <hr>
      season break
      <ul class="unstyled">
        <li> > Spring rental destinations </li>
        <li> > Summer rental destinations</li>
        <li> > Fall rental destinations</li>
        <li> > Winter rental destinations </li>
      </ul>
    </div>
  </div>
  <div class="span12">
    <div class="featured-rentals">
      <p class="lead">Featured Properties</p>
      <ul class="thumbnails">
        <% unless @rentals.nil? %>
          <% @rentals.each do |rental| %>
            <li class="span3 left-5-margin">
              <div class="thumbnail">
                <% unless rental.photos.first.nil? %>
                  <%= link_to image_tag(rental.photos.first.url), rental %>
                <% end %>
                <p><%= link_to rental.name, rental  %></p>
                <div class="destination-show-link">
                  <ul class="unstyled">
                    <li>Sleeps: <%= rental.sleeps %></li>
                    <li>Location: <%= link_to rental.destination.name,
                                              destination_path(rental.destination.id)  %></li>
                    <li>Bedrooms: <%= rental.bedrooms %></li>
                  </ul>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

