<% provide(:title, "Vacation Rentals Search") %>

<div class="row">
  <div class="span12">
    <div class="center">
      <h1 class="center">Search Bravo Vacation Rentals</h1>
      <%= form_tag( search_path, :method => "get", class: "form-search" ) do %>
          <%= text_field_tag :q, params[:q] %>
          <%= submit_tag("Search", name: nil, class: "btn btn-warning") %>
      <% end %>
    </div>
  </div>
</div>

<ul class="unstyled search-results">
  <%= @pg_search_documents.find_each do |pg_search_document| %>
    <li>
      <%= link_to pg_search_document.searchable do %>
        <%= highlight(pg_search_document.searchable.name, params[:q].split(/[,\s]/)) %>
      <% end %>
      <% if !pg_search_document.searchable_type.eql?("Guide") %>
      	<%= truncate_html(highlight(pg_search_document.searchable.content, params[:q].split(/[,\s]/)), length: 140) %>
      <% else %>
      	<%= truncate_html(highlight(pg_search_document.searchable.overview, params[:q].split(/[,\s]/)), length: 140) %>
      <% end %>      
    </li>
  <% end %>
</ul>
