<form class="destination-index-form">
<%= form_tag filter_rentals_path %>
  <fieldset>
    <legend>Filter your search</legend>

    <label>Location:</label>
    <% Destination.all.each do |destination| %>
      <label class="checkbox">
        <%= check_box_tag "destination_ids[]", destination.id, params[:destination_ids] && params[:destination_ids].include?(destination.id.to_s) %>
        <%= destination.name %>
      </label>
    <% end %>

    <label>Features:</label>
    <% Feature.all.each do |feature| %>
      <% unless feature.name.blank? %>
        <label class="checkbox">
          <%= check_box_tag "feature_ids[]", feature.id, params[:feature_ids] && params[:feature_ids].include?(feature.id.to_s) %> <%= feature.name  %>
        </label>
      <% end %>
    <% end %>

    <label>Occupancy:</label>
    <% Rental.order(:sleeps).pluck(:sleeps).uniq.each do |sleeps| %>
      <label class="checkbox">
        <%= check_box_tag "sleeps_ids[]", sleeps, params[:sleeps_ids] && params[:sleeps_ids].include?(sleeps.to_s) %> <%= sleeps  %>
      </label>
    <% end %>

    <label>Bedrooms:</label>
    <% Rental.order(:bedrooms).pluck(:bedrooms).uniq.each do |bedrooms| %>
      <label class="checkbox">
        <%= check_box_tag "bedrooms_ids[]", bedrooms, params[:bedrooms_ids] && params[:bedrooms_ids].include?(bedrooms.to_s) %> <%= bedrooms  %>
      </label>
    <% end %>

    <label>Price:</label>
    <label class="checkbox">
      <%= check_box_tag "min_price[]", 0 %> - 500&euro;
    </label>
    <label class="checkbox">
      <%= check_box_tag "min_price[]", 500 %> 500&euro; - 1.000&euro;
    </label>
    <label class="checkbox">
      <%= check_box_tag "min_price[]", 1000 %> 1.000&euro; - 1.500&euro;
    </label>
    <label class="checkbox">
      <%= check_box_tag "min_price[]", 1500 %> + 1.500&euro;
    </label>
    <div class="center">
      <%= submit_tag "Search", class: "btn" %>
    </div>
  </fieldset>
</form>
