<% provide(:title, "Vacation Rentals") %>
<h1>Listing rentals</h1>

<%#= render 'filter_form' %>
<%= form_tag(rentals_path,
             :method => :get) do %>
    <%= select_tag(:destination_id,
                   options_from_collection_for_select(Destination.all, :id, :name)) %>
    <%= submit_tag %>
<% end %>

<%= form_tag(rentals_path,
             :method => :get) do %>
    <%= select(:sleeps, :num, Rental.pluck(:sleeps).uniq,
               {:prompt => "Select Sleeps Filter"}) %>
    <%= submit_tag %>
<% end %>

<%= form_tag(rentals_path,
             :method => :get) do %>
    <%= select(:bedrooms, :num, Rental.pluck(:bedrooms).uniq,
               {:prompt => "Select Bedroom Filter"}) %>
    <%= submit_tag %>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Destination</th>
    <th>Sleeps</th>
    <th>Bedrooms</th>
    <th>Bathrooms</th>
    <th>Content</th>
    <th>Rates</th>
    <th>Observations</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @rentals.each do |rental| %>
      <tr>
        <td><%= rental.name %></td>
        <td><%= rental.destination %></td>
        <td><%= rental.sleeps %></td>
        <td><%= rental.bedrooms %></td>
        <td><%= rental.bathrooms %></td>
        <td><%= truncate(strip_tags(rental.content), :length => 42) %></td>
        <td><%= rental.rates %></td>
        <td><%= rental.observations %></td>
        <td><%= rental.latitude %></td>
        <td><%= rental.longitude %></td>
        <td><%= rental.gmaps %></td>
        <td><%= link_to 'Show', rental %></td>
        <td><%= link_to 'Edit', edit_rental_path(rental) %></td>
        <td><%= link_to 'Destroy', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<% if current_user %>
    <%= link_to 'New Rental', new_rental_path,
                class: 'btn btn-warning btn-large' %>
<% end %>