<% provide(:title, "Vacation Rentals") %>
<h1>Listing rentals</h1>

<%= render 'filter_form' %>
<div class="clear"></div>

<div class="dest-index">
  <div class="row">
    <div class="span2">
      <%= render 'sidebar_filter' %>
    </div>
    <div class="span10">
      <% unless @rentals.any? %>
        <span>No matching rentals</span>
      <% end %>

      <% @rentals.each do |rental| %>
        <div class="row">
          <p class="lead span10"><%= link_to rental.name, rental  %></p>
          <p class="span10">Vacation Rental in <%= link_to rental.destination.name,
                                            "#"  %></p>
          <div class="span7">
            <% unless rental.photos.first.nil? %>
                <%= link_to image_tag(rental.photos.first.url), rental %>
            <% end %>
          </div>
          <div class="span3 zebra-index no-left-margin">
            <p><%= raw truncate(strip_tags(rental.content), :length => 200) %></p>
            <%= link_to 'Show', rental %> |
            <%= link_to 'Edit', edit_rental_path(rental) %> |
            <%= link_to 'Destroy', rental, method: :delete, data:
                    { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br />

<% if current_user %>
    <%= link_to 'New Rental', new_rental_path,
                class: 'btn btn-warning btn-large' %>
<% end %>
