<% provide(:title, @destination.name) %>

<% if current_user %>
    <%= link_to("Edit", edit_destination_path(@destination), class: 'btn btn-primary') %> |
    <%= link_to("Back", destinations_path, class: 'btn') %>
<% end %>
<div class="destination-show">
  <!-- To only load map when tab is clicked -->
  <script type="text/javascript" charset="utf-8">
    $(function() {
      //hide the empty container
      $(".map_container").hide();
      $("#mapshow").click(function(){
        $.getJSON('/destinations', function(json){
          $(".map_container").show();
            Gmaps.loadMaps();
        })
      })
    });
  </script>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Vaction Rentals in
        <%= @destination.name %></a></li>
      <li id="mapshow"><a href="#tab2" data-toggle="tab">Local Info</a></li>
      <li><a href="#tab3" data-toggle="tab">What to do in <%= @destination.name %></a></li>
      <li><a href="#tab4" data-toggle="tab">Airport</a></li>
      <li><a href="#tab5" data-toggle="tab">Rent a Car in <%= @destination.name %></a></li>
      <li><a href="#tab6" data-toggle="tab">Weather in <%= @destination.name %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <p class="lead"><%= @destination.name %> Vacation Rentals</p>
        <ul class="thumbnails">
          <% @rentals.each do |rental| %>
              <li class="span3 zebra">
                <div class="thumbnail">
                  <% unless rental.photos.first.nil? %>
                      <%= link_to image_tag(rental.photos.first.url), rental %>
                  <% end %>
                  <p class="lead"><%= link_to rental.name, rental %></p>
                  <div class="destination-show-link">
                    <ul class="unstyled">
                      <li class="pull-left">Sleeps: <%= rental.sleeps %></li>
                      <li class="pull-left left-10-margin">Bedrooms: <%= rental.bedrooms %></li>
                      <li class="clear"> |
                        <% rental.features.each do |feature| %>
                            <% unless feature.name.blank? %>
                                <%= feature.name %> |
                            <% end %>
                        <% end %>
                      </li>
                    </ul>
                    <h3 class="center">Rental Price</h3>
                  </div>
                </div>
              </li>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane" id="tab2">
        <div class="row">
          <div class="span7">
            <% unless @destination.dest_image.nil? %>
                <%= image_tag(@destination.dest_image.url, class: 'dest-img') %>
            <% end %>
            <h1><%= @destination.name %></h1>
          </div>
          <div class="span5 no-left-margin">
            <%= gmaps(
                        :markers => { :data => @json },
                        :map_options => { :auto_adjust => true, # :auto_adjust map to center on location
                                          :auto_zoom => false, 	# :auto_zoom defaults to full zoom in, set to false to utilize :zoom
                                          :type => "HYBRID",   # HYBRID, ROADMAP, SATELLITE, TERRAIN
                        },
                :last_map => false
                ) %>
          </div>
        </div>
        <hr />
        <%= raw @destination.content %>
      </div>
      <div class="tab-pane" id="tab3">
        <p class="lead">What to do in <%= @destination.name %></p>
        <%= raw @destination.todo %>
      </div>
      <div class="tab-pane" id="tab4">
        <p class="lead">Airport</p>
        <%= raw @destination.airport %>
      </div>
      <div class="tab-pane" id="tab5">
        <p class="lead">Rent a Car in <%= @destination.name %></p>
        <%= raw @destination.rentcar %>
      </div>
      <div class="tab-pane" id="tab6">
        <p class="lead">Weather in <%= @destination.name %></p>
        <%= raw @destination.weather %>
      </div>
    </div>
  </div>

  <% if current_user %>
      <%= link_to 'Edit', edit_destination_path(@destination) %> |
  <% end %>
  <%= link_to 'Back', destinations_path %>
</div>

<%= yield :scripts %>

