<% provide(:title, "Travel Guides") %>

<div class="guide-index">
  <div class="row">
    <div class="span12">
      <% unless @guides.first.nil? %>
          <%= gmaps(:markers => {:data => @json, :options => { :do_clustering => false}	}) %>
      <% end %>
    </div>
    <p class="lead span12">Latest Guides</p>
      <% @guides.each do |guide| %>
        <div class="span4">
          <div class="">
            <% unless guide.guide_image.nil? %>
                <%= link_to image_tag(guide.guide_image.url), guide %>
            <% end %>
          </div>
          <div class="guide">
            <p><%= link_to guide.name, guide  %></p>
            <p><%= guide.destination.name %></p>
            <%= link_to 'Show', guide %>
            <% if current_user %>|
                <%= link_to 'Edit', edit_guide_path(guide) %> |
                <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <div class="span4 guide-sug">
      <%= simple_form_for  @message do |f| %>
          <h3>Suggestion box</h3>
          <%= f.error_notification %>
          <%= f.input :nickname, :wrapper_html => { :class => 'nickname' } %>
          <%= f.input :email %>
          <%= f.input :content, :as => :text, :input_html => { :rows => 5 } %>
          <div class="actions center">
            <%= f.submit "Send", class: "btn btn-info" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<br />

<% if current_user %>
    <%= link_to 'New Guide', new_guide_path,
                class: 'btn btn-warning btn-large' %>
<% end %>

<%= yield :scripts %>

