<% provide(:title, "Travel Guides") %>

<div class="guide-index">
  <div class="row">
    <div class="span12">
      <%= gmaps(:markers => {:data => @json, :options => { :do_clustering => false}	}) %>
      <% @guides.each do |guide| %>
          <div class="row">
            <p class="lead span12"><%= link_to guide.name, guide  %></p>
            <div class="span9">
              <% unless guide.guide_image.nil? %>
                  <%= link_to image_tag(guide.guide_image.url), guide %>
              <% end %>
            </div>
            <div class="span3 zebra-index no-left-margin">
              <p><%= raw truncate(strip_tags(guide.overview), :length => 200) %></p>
              <%= link_to 'Show', guide %>
              <% if current_user %>|
                <%= link_to 'Edit', edit_guide_path(guide) %> |
                <%= link_to 'Destroy', guide, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<br />

<% if current_user %>
    <%= link_to 'New Guide', new_guide_path,
                class: 'btn btn-warning btn-large' %>
<% end %>

<%= yield :scripts %>

